@font-face {
    font-family: yekan;
    src: url(./fonts/yekan.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Yekan-Bakh;
    src: url(./fonts/Yekan-Bakh.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: sahel;
    src: url(./fonts/sahel.woff);
    font-weight: 400;
    font-style: normal;
}
*{
font-family: Yekan-Bakh;
}
p{
    text-align: justify;
}
.dir-l{
    direction: ltr;
}
.dir-r{
    direction: rtl;
}
.backtotop {
    display: none;
    position: fixed;
    cursor: pointer;
    right: 10px;
    bottom: 30px;
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to bottom right, #39223f, #9a303a);
    transition: all 0.3s ease;
    border-radius: 50%;
    display: none;
    z-index: 99;
    padding-top: 3px;
}
.backtotop i {
    font-size: 33px;
}
::selection {
    background: #5657ac;
    color: #fff;
}
.btn-es {
    color: #fff!important;
    background-color: #6768AB!important;
    border-color: #6768AB!important;
}
.btn-es:hover {
    color: #6768AB!important;
    background-color: #fff!important;
}
.btn:focus,select:focus{
    outline: 0;
    box-shadow: 0 0 0 0.25rem #6768ab8a!important;
}

.btn-border{
    color:#6768AB!important; 
    border-color: #6768AB!important;
}
.btn-border:hover{
    color: #fff!important;
    background-color: #6768AB!important;
    border-color: #6768AB!important;
}
.text-es{
    color: #6768AB;
}
.bg-es{
    background: #6768AB;
}
.border-es{
    border:1px solid#6768AB!important;
}
.shadow-es{
    box-shadow: 1px 0px 15px #92929236;
}
.form-select{
    background-position: left 0.75rem center!important;
    line-height: 2!important;
    background-image: url(./icon-selcet.svg)!important;
    color:#6768AB!important; 
    font-weight: 700!important;
}
.form-select > option{
    color:#6768AB!important; 
    font-weight: 700!important;
}
.hr-title{
    width: max-content;
    margin-top: -31px!important;
    z-index: 1;
}
.he-2{
    height: 2px!important;
}
.he-fit{
    height: fit-content;
}
.f-12{
    font-size: 12px!important;
}
.f-13{
    font-size: 13px!important;
}
.f-15{
    font-size: 15px!important;
}
.f-25{
    font-size: 25px!important;
}
.text-gery{
    color:#c8c7c7;
}
.rounded-5{
    border-radius: 0.5rem!important;
}

.bg-cover{
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
.lh-xl{
    line-height: 2.5;
}
.text-shadow{
    text-shadow: 3px 3px #6d6c6c;
}
a:hover{
    color: #6869cb!important;
}